* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 20px 10%;
    background-color: white;
    color: gray;
    font-family: Arial, sans-serif;
}
.logo a {
    font-size: 25px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}
.nav-container {
    justify-content: center;
}
.navlinks {
    list-style: none;
    display: flex;
    gap: 30px;
}
.navlinks a {
    color: gray;
    text-decoration: none;
    transition: 0.3s;
}
.auth-buttons {
    justify-content: end;
    display: flex;
    gap: 15px;
}