* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: black;
    color: white;
    font-family: Arial sans-serif;
}
.navlinks {
    list-style: none;
    display: flex;
}